@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <ul>
        <li><a href="@Url.Content("~/Views/Brochures/Accounting Program.pdf")">Accounting Track</a></li>
        <li><a href="@Url.Content("~/Views/Brochures/Business Program.pdf")">Business Track</a></li>
        <li><a href="@Url.Content("~/Views/Brochures/ComputerScience.pdf")">Computer Science Track</a></li>
        <li><a href="@Url.Content("~/Views/Brochures/Criminal Justice Program.pdf")">Criminal Justice Track</a></li>
        <li><a href="@Url.Content("~/Views/Brochures/Culinary Program.pdf")">Culinary Track</a></li>
        <li><a href="@Url.Content("~/Views/Brochures/Marketing Program.pdf")">Marketing Track</a></li>
        <li><a href="@Url.Content("~/Views/Brochures/Spanish Program.pdf")">Spanish Track</a></li>
    </ul>

    <p>Enrolled Classes</p>
    <p>Query the database (specifically the enrollments table), make a list</p>
    <p>Register for classes by hitting the button</p>
    @using (Html.BeginForm("Index", "Student", FormMethod.Post))
    {
        <input type="submit" value="Sign up for a class" class="btn btn-dark" name="btnSubmit" />
    }
}
